
$mainDark: #2C2C2C;
$secondaryDark: #333;
$fontPrimary: 'Cinzel', serif;
$fontSecondary: 'Julius Sans One', sans-serif;
$fontukrainian: 'Cormorant Unicase', serif;
$pureWhite: rgba(255, 255, 255, 1);
$firmOrange: rgba(237, 92, 10, 1);



// ------------------------------------ GENERAL

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    a {
        color: inherit;
        text-decoration: inherit; 
    }
}

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top {
    z-index: 4;
    font-size: 1rem;
    font-family: $fontukrainian;
    color: $pureWhite;
    opacity: .6;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .4);
}

.scroll-to-top:hover {
    opacity: 1;
}

.logo-dark {
    width: 4rem;
    padding: 1rem;
  }

  .btn {
    font-size: 1.1rem;
    margin-top: 3rem;
    color: $pureWhite;
    font-weight: 300;
    text-transform: lowercase;
    background-color: $secondaryDark;
    font-family: $fontukrainian;
    padding: 1rem;
    border-radius: 1rem;
    transition: .2s;
  }
  .btn:hover {
      background-color: $firmOrange;
  }

button {
    border: none;
    margin: 0;
    padding: 0;
}
button:focus {outline:0;}

// ------------------------------------ NAVBAR

.navbar, .navbar-small {
    @include flexbox;
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    flex-wrap: wrap;
    min-height: 4rem;
    background-color: rgba(44, 44, 44, .99);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    transition: .5s;
    li {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.1rem;
        cursor: pointer;
        color: rgba(255, 255, 255, .7);
        transition: .3s;
    }
    li:hover {
        color: $pureWhite;
    }
    .hamburger {
        @include flexbox;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .nav-logo {
        @include flexbox;
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
        }
    }
    .lang-section {
        @include flexbox;
        position: absolute;
        right: 5rem;
        width: 5%;
        .lang-btn {
            border: none;
            margin: 0;
            padding: .5rem;
            border-radius: 0;
            background-color: $mainDark;
            font-family: $fontPrimary;
            font-size: .8rem;
            cursor: pointer;
        }
        .active-lang-btn {
            background-color: $firmOrange;
        }
        .lang-btn:hover {
            background-color: $firmOrange;
        }
    }
}

.navbar-small {
    display: none;
}

.slidemenu {
    @include flexbox;
    flex-direction: column;
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: $mainDark;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: all .5s ease-in-out;
    transform: translateY(-100%);
    li {
        font-size: 1.6rem;
        padding: .3rem;
        color:rgba(255, 255, 255, .6);
    }
}

.slide-visible {
    transform: translateY(0%);
    visibility: visible;
}

.active-class {
    color: $pureWhite;
}

// ------------------------------------ PARALLAX 

.parallax-banner {

    @include flexbox;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    .parallax-text, .parallax-text-2 {
        @include flexbox;
        flex-direction: column; 
        text-align: center;
        img {
            width: 5rem;
            opacity: .9;
        }
        h2 {
            font-size: 8rem;
            color: $pureWhite;
            font-weight: 300;
            cursor: default;
            margin: 0;
        }
        p {
            font-size: 1.4rem;
            color: $pureWhite;
            font-weight: 100;
            cursor: default;
            margin: 0;
            max-width: 50%;
        }
        .original-title {
            font-family: $fontSecondary;
        }
  }
  .parallax-text-2 {
      h2{
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
  }
  .btn {
    font-size: 1.1rem;
    margin-top: 3rem;
    color: $pureWhite;
    font-weight: 300;
    text-transform: lowercase;
    background-color: $secondaryDark;
    padding: 1rem;
    border-radius: 1rem;
    transition: .2s;
  }
  .btn:hover {
      background-color: $firmOrange;
  }
}

// ------------------------------------ SECTION 

.landing-section {
    @include flexbox;
    flex-direction: column;
    padding: 1rem;
    box-shadow: inset 0px 0px 70px rgba(0, 0, 0, .5);
    .section-container {
        @include flexbox;
        max-width: 60%;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        h2 {
            font-size: 2rem;
            color: rgba(0, 0, 0, .7);
            font-weight: 300;
            cursor: default;
            margin: 0;
        }
        p {
            font-size: 1.2rem;
            width: 100%;
        }
    }
    .icons-container {
        @include flexbox;
        align-items: flex-start;
        margin-top: 2rem;
        width: 50%;
        min-height: 15rem;
        .section-icon {
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            text-align: center;
            margin: 0rem 1rem;
            opacity: .7;
            cursor: default;
            transition: .3s;
            i {
                font-size: 3rem;    
            }
            .icon-text { 
                width: 10rem;      
            }
        }
        .section-icon:hover {
            opacity: .9;
        }
    }
}

// ------------------------------------ FOOTER

.footer {
    @include flexbox;
    flex-direction: column;
    min-height: 18vh;
    flex-wrap: wrap;
    background-color: $pureWhite;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .3);
    text-align: center;
    .social-medias {
        @include flexbox;
        list-style-type: none;
        min-width: 50%;
        flex-wrap: wrap;
        padding: .5rem;
        margin: 0;
        li {
            font-size: 3rem;
            cursor: pointer;
            margin-left: .8rem;
            margin-right: .8rem;
        }
        .fa-facebook, .fa-instagram, .fa-twitter-square {
            transition: .3s;
        }
        .fa-facebook:hover {
            color: #3b5998;
          } 
        .fa-instagram:hover {
            color: #C13584;
          }     
        .fa-twitter-square:hover {
            color: #38A1F3;
          }
    }
    .bottom-textbox {
        @include flexbox;
        width: 50%;
        padding: 0;
    }
}

// ------------------------------------ ABOUT US

.about-main-container {
    @include flexbox;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $pureWhite;
    padding: 1rem;
    .about-text-container {
        @include flexbox;
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .1);
        padding: 2rem;
        border-radius: 20px;
        margin-top: 1rem;
        h2 {
            font-weight: 300;
            font-size: 3rem;
            padding: 1rem;
            margin: 0;
        }
        p {
            font-size: 1.2rem;
        }
      }
    .about-pictures-container {
        @include flexbox;
        justify-content: space-around;
        width: 85%;
        flex-wrap: wrap;
        margin-top: 3rem;
        padding-bottom: 5rem;
        .family-card {
            @include flexbox;
            justify-content: space-between;
            width: 18rem;
            height: 27rem;
            flex-direction: column;
            padding: 1rem;
            border-radius: 3%;
            margin: .5rem;
            box-shadow: 0px 0px 50px rgba(106, 105, 105, .3);
            .card-image-info-container {
                @include flexbox;
                width: 100%;
                height: 100%;
                .bio-img {
                    visibility: visible;
                    opacity: 1;
                    display: flex;
                    width: 100%;
                    cursor: pointer;  
                    animation: appearing .3s;
                }
                .invisible {
                    display: none;
                }
                .bio-text-container {
                    display: none;
                    width: 100%;
                    height: 90%;
                    padding: .5rem;
                    margin-top: .5rem;
                    .bio-btn{
                        padding: .8rem;
                        border-radius: 7px;
                    }
                }
                @keyframes appearing {
                    0% {
                      display: visible;
                      opacity: 0;
                      transform: scale(0.9);
                    }
                    100% {
                      opacity: 1;
                      transform: scale(1);
                    }
                  }
                .bio-visible {
                    @include flexbox;
                    flex-direction: column;
                    justify-content: space-between;
                    animation: appearing .3s;
                }
            }
            .family-card-name {
                font-size: 1.4rem;
                margin: 0;
                cursor: pointer;
            }
        }
      }  
    }






  // ------------------------------------ GALLERY

.gallery-section {
    @include flexbox;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $pureWhite;
    padding: 1rem;
    iframe {
        width: 80%;
        padding: 0rem;
        margin: 1rem 0;
        border: none;
    }
    .btn {
        font-size: 1rem;
        color: $pureWhite;
        font-weight: 300;
        text-transform: lowercase;
        border: none;
        background-color: $secondaryDark;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
        transition: .2s;
      }
      .btn:hover {
          background-color: $firmOrange;
      }
    h2 {
        font-weight: 300;
        font-size: 3rem;
        margin: 0;
        margin-bottom: 1rem;
        cursor: default;
        color: $secondaryDark;
    }
    .inner-section {
        @include flexbox;
        flex-wrap: wrap;
    }
    .section-1 {
        background-color: $pureWhite;
        margin: 0;
        padding: 0;
    }
    .gallery-image {
        display: flex;
        height: 350px;
        width: 520px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
        margin: 0rem 0rem 0.5rem 0.5rem;
        transition: .3s;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            transition: .4s;
        }
        img:hover {
            transform: scale(1.1);
        }
    }
}
    

  // ------------------------------------ PRODUCTS
    
    .products-inner-container {
        @include flexbox;
        flex-direction: column;
        width: 70%;
        min-height: 110vh;
        padding: 1rem;
        margin: auto;
        background-color: $pureWhite;
        h2 {
            font-weight: 300;
            font-size: 3rem;
            margin: 0;
        }
      }
    .products-text-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
        box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .1);
        padding: 2rem;
        border-radius: 20px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        span {
            font-size: 1.2rem;
            font-weight: 600;
        }
      }
    .cards-container {
        @include flexbox;
        justify-content: space-around;
        width: 90%;
        align-self: flex-start;
        margin: auto;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        margin-top: 1rem;
      }
    .card {
        @include flexbox;
        flex-direction: column;
        width: 320px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
        padding: 1rem;
        border-radius: 8px;
        transition: .3s;
        cursor: pointer;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        h3 {
            margin: 0;
            padding-top: 1rem;
            font-weight: 300;
        }
      }
    .card:hover {
        box-shadow: 0px 0px 75px rgba(0, 0, 0, .2);
    } 
    .product-details {
        @include flexbox;
        width: 100%;
        justify-content: space-between;
        h3 {
            margin-left: 1rem;
            margin: 0;
        }
        p {
            margin-right: 1rem;
            cursor: default;
            margin: 0;
        }
    }
    .form-container {
        @include flexbox;
        width: 40%;
        margin: auto;
        padding: 1rem;
        .form-inline {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            input {
                padding: 11px;
                background-color: $pureWhite;
                color: rgba(0, 0, 0, 1);
                border: 1px solid #ddd;
                font-size: 1.1rem;
                margin-bottom: .5rem;
            }
          }
        .submit-btn {
            text-decoration: none;
            border: 1px solid rgba(106, 105, 105, .2);
            padding: 11px;
            border-radius: 5px;
            font-weight: 300;
            font-size: 1rem;
            color: $pureWhite;
            background-color: $secondaryDark;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            transition: .3s;
          }
        .submit-btn:hover {
            color: #fff;
            background-color: rgba(237, 92, 10, 1);
            border: none;
            border: 1px solid rgba(255, 255, 255, .2);
          }
    }



@media (max-width: 2560px) {
    .navbar {
        flex-direction: row;
        li {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 1440px) {
    .navbar {
        flex-direction: row;
        li {
            font-size: 1.2rem;
        }
    }
    .slidemenu {
        display: none;
    }
}

@media (max-width: 750px) {
    .navbar {
        display: none;
    }
    .navbar-small {
        @include flexbox;
        justify-content: space-between;
        position: sticky;
        z-index: 4;
        top: 0;
        .lang-section {
            position: absolute;
            right: 6rem;
        }
    }
    .slidemenu {
        @include flexbox;
    }
    .parallax-banner {
        margin: auto;
        .parallax-text {
            img {
                width: 3rem;
            }
            h2 {
                font-size: 4rem;
                width: 100%;
            }
            p {
                font-size: 1rem;
                max-width: 90%;
                margin-top: 2rem;
            }
        }
        .parallax-text-2 {
            h2 {
                font-size: 2.2rem;
                padding: 1rem;
            }
            p {
                font-size: 1.05rem;
                max-width: 90%;
                margin-top: 1rem;
                line-height: 1.4rem;
            }
        }
        .btn {
            font-size: 1rem;
            margin-top: 2rem;
        }
    }
    .landing-section {
        @include flexbox;
        flex-direction: column;
        .icons-container {
            flex-direction: column;
            align-items: center;
            width: 15rem;
            margin: 0;
            .section-icon {
                padding: 0;
            }
        }
        .section-container {
            max-width: 100%;
            padding: 1rem;
            h2 {
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
    }
    .about-main-container {
        width: 100%;
        padding: 0;
        h2 {
            font-size: 2rem;
            padding: 0;
        }
        .about-text-container {
            width: 100%;
            padding: 0;
            margin: 0; 
            border-radius: 0%;
            p {
                max-width: 90%;
                font-size: 1.1rem;
            }
        }
        .about-pictures-container {
            width: 100%;
            padding-bottom: 3rem;
            margin: 0;
        }
        .flip-card {
            width: 80%;
            height: 350px;
            margin-top: 1rem;
            border-radius: 0%;
        }
    }
    .gallery-section {
        width: 100%;
        padding: 0; 
        h2 {
            font-size: 2rem;
            padding: 0;
        }
        iframe {
            width: 100%;
            margin-bottom: 1rem;
        }
        .inner-section {
            padding: 0rem;
        }
        .gallery-image {
            width: 100%;
            height: 250px;
            margin: auto;
            img:hover {
                transform: none;
            }
        }
    }
    .products-inner-container {
        width: 100%;
        padding: 0; 
        margin: auto;
        h2 {
            font-size: 2rem;
            padding: 0;
        }
        .products-text-container {
            width: 100%;
            font-size: 1.1rem;
            padding: 0;
            margin: 0;
            border-radius: 0%;
        }
        .cards-container {
            width: 100%;
        }
        .card {
            width: 100%;
            padding: 1rem;
            img {
                height: 20rem;
            }
            h3 {
                font-weight: 300;
                font-size: 1.3rem;
            }
        }
        .card:hover {
            transform: none;
        }
        .product-details {
            justify-content: center;
        }
        .form-container {
            width: 100%;
            padding: 0;
            .form-inline {
                flex-direction: column;
                input {
                    margin-bottom: .5rem;
                }
            }
            .submit-btn {
                margin-bottom: 1rem;
            }
        }
    }
}


  // ------------------------------------ MODAL

  .modal-container {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, .99);
    .modal-image-container {
        margin-top: 3rem;
    }
    .modal-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    .move-btn {
        margin: 0 1rem;
    }
  }


  .visible {
      @include flexbox;
  }

  @media (max-width: 750px) {
      .modal-container {
          .modal-image-container {
              height: 25rem;
              margin-top: 0;
              img {
                  height: 100%;
              }
          }
      }
  }