* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}
body a {
  color: inherit;
  text-decoration: inherit;
}

.scroll-to-top {
  z-index: 4;
  font-size: 1rem;
  font-family: "Cormorant Unicase", serif;
  color: white;
  opacity: 0.6;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.scroll-to-top:hover {
  opacity: 1;
}

.btn {
  font-size: 1.1rem;
  color: white;
  font-weight: 300;
  text-transform: lowercase;
  background-color: #333;
  font-family: "Cormorant Unicase", serif;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ed5c0a;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  padding: 1.5rem;
}
.logo img {
  width: 100%;
}

.main-title {
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem -webkit-max-content 1rem 1fr;
  -ms-grid-columns: 1fr 1rem max-content 1rem 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(44, 44, 44, 0.2);
  margin: 1rem 0;
}
.main-title::before, .main-title::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.main-title .title {
  font-size: 3rem;
  font-weight: 300;
  color: #2c2c2c;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .main-title {
    padding: 0;
    width: 80%;
    margin: auto;
    height: 10vh;
  }
  .main-title .title {
    font-size: 2rem;
  }
}
.navbar {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 4rem;
  background-color: rgba(44, 44, 44, 0.99);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.navbar__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__links .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  margin: 0 1rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.navbar__links .link:hover {
  color: white;
}
.navbar__langs {
  background-color: red;
  position: absolute;
  right: 3rem;
}
.navbar__langs .lang-btn {
  border: none;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0;
  background-color: #2C2C2C;
  font-family: "Cinzel", serif;
  font-size: 0.8rem;
  cursor: pointer;
}
.navbar__langs .active-lang-btn {
  background-color: #ed5c0a;
}
.navbar__langs .lang-btn:hover {
  background-color: #ed5c0a;
}

.navbar-mobile {
  display: none;
}

.slidemenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  visibility: hidden;
  list-style-type: none;
  background-color: #2C2C2C;
  position: fixed;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-115%);
      -ms-transform: translateY(-115%);
          transform: translateY(-115%);
  height: 30vh;
  -webkit-box-shadow: 0px 0px 70px rgba(44, 44, 44, 0.99);
          box-shadow: 0px 0px 70px rgba(44, 44, 44, 0.99);
  opacity: 0;
}
.slidemenu__item {
  font-size: 1.4rem;
  padding: 0.3rem;
  color: rgba(255, 255, 255, 0.6);
}
.slidemenu .langs {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.slidemenu .langs .lang-btn {
  border: none;
  margin: 0;
  padding: 0.3rem;
  border-radius: 0;
  background-color: #2C2C2C;
  font-family: "Cinzel", serif;
  font-size: 0.8rem;
  cursor: pointer;
}
.slidemenu .langs .active-lang-btn {
  background-color: #ed5c0a;
}
.slidemenu .langs .lang-btn:hover {
  background-color: #ed5c0a;
}

.slide-visible {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  opacity: 1;
}

.active-class {
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: -ms-grid;
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2c2c2c;
    padding: 0rem;
  }
  .navbar-mobile .nav-logo {
    width: 1.5rem;
    justify-self: flex-start;
    margin-left: 1rem;
  }
  .navbar-mobile .nav-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-mobile .nav-logo a img {
    width: 100%;
  }
  .navbar-mobile .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    padding: 0.7rem;
    margin-right: 1rem;
  }
  .navbar-mobile .hamburger .fa-bars {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.7rem;
  }
}
.landing-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-size: cover;
  background-attachment: fixed;
}
.landing-header .header-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}
.landing-header .header-container .header-logo {
  display: none;
  width: 5rem;
  padding: 1rem;
}
.landing-header .header-container .header-logo img {
  width: 100%;
}
.landing-header .header-container .header-title {
  font-size: 9rem;
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 300;
  cursor: default;
}
.landing-header .header-container .header-text {
  width: 55%;
  font-size: 1.3rem;
  color: white;
  font-weight: 100;
  cursor: default;
  margin: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .landing-header .header-container {
    width: 100%;
  }
  .landing-header .header-container .header-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .landing-header .header-container .header-text {
    width: 90%;
    font-size: 0.99rem;
    margin: 0;
  }
}
.parallax-banner {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (-webkit-max-content)[3];
  -ms-grid-rows: (max-content)[3];
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-size: cover;
  background-attachment: fixed;
}
.parallax-banner .parallax-title {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  cursor: default;
  margin: 1rem;
  text-align: center;
}
.parallax-banner .parallax-desc {
  width: 90%;
  font-size: 1.3rem;
  color: white;
  font-weight: 100;
  cursor: default;
  margin: auto;
  text-align: center;
}
.parallax-banner .btn {
  width: 10rem;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  margin: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .parallax-banner {
    padding: 1rem 0;
  }
  .parallax-banner .parallax-title {
    font-size: 1.5rem;
  }
  .parallax-banner .parallax-desc {
    font-size: 1rem;
    width: 90%;
  }
}
.landing-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  -webkit-box-shadow: inset 0px 0px 70px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 70px rgba(0, 0, 0, 0.5);
}
.landing-section .section-title {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  cursor: default;
  padding: 1rem;
  text-align: center;
}
.landing-section .section-desc {
  font-size: 1.3rem;
  width: 70%;
  padding: 1rem;
  cursor: default;
  text-align: center;
}
.landing-section .icons-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 1rem;
  margin: 1rem;
}
.landing-section .icons-container .section-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  text-align: center;
  opacity: 0.7;
  cursor: default;
  height: 8rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.landing-section .icons-container .section-icon i {
  font-size: 3rem;
  margin: 1rem;
}
.landing-section .icons-container .section-icon .icon-text {
  font-size: 1.1rem;
}
.landing-section .icons-container .section-icon:hover {
  opacity: 0.9;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .landing-section {
    padding: 1rem;
  }
  .landing-section .section-title {
    font-size: 1.5rem;
  }
  .landing-section .section-desc {
    font-size: 1rem;
    width: 90%;
  }
  .landing-section .icons-container .section-icon i {
    font-size: 2rem;
  }
  .landing-section .icons-container .section-icon .icon-text {
    font-size: 1rem;
  }
}
.footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 18vh;
  background-color: white;
  border-top: 1px solid rgba(44, 44, 44, 0.1);
}
.footer__socials {
  display: -ms-grid;
  display: grid;
  list-style-type: none;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.footer__socials .social {
  font-size: 2rem;
  cursor: pointer;
  margin: 0 1rem;
}
.footer__socials .fa-facebook, .footer__socials .fa-instagram, .footer__socials .fa-twitter-square {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__socials .fa-facebook:hover {
  color: #3b5998;
}
.footer__socials .fa-instagram:hover {
  color: #C13584;
}
.footer__socials .fa-twitter-square:hover {
  color: #38A1F3;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.about-page {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  background-color: white;
}
.about-page__textbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  width: 60%;
  text-align: center;
  padding: 2rem;
  border-top: 1px solid rgba(44, 44, 44, 0.1);
  border-bottom: 1px solid rgba(44, 44, 44, 0.1);
  margin-top: 1rem;
}
.about-page__textbox .title {
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem;
}
.about-page__textbox .text {
  font-size: 1.3rem;
}
.about-page__images-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 2rem;
}
.about-page__images-container .family-card {
  display: -ms-grid;
  display: grid;
  width: 18rem;
  height: 28rem;
  -ms-grid-rows: 1fr -webkit-max-content;
  -ms-grid-rows: 1fr max-content;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 10px 0px 30px rgba(106, 105, 105, 0.2);
          box-shadow: 10px 0px 30px rgba(106, 105, 105, 0.2);
}
.about-page__images-container .family-card__info {
  display: -ms-grid;
  display: grid;
  height: 100%;
}
.about-page__images-container .family-card__info img {
  visibility: visible;
  opacity: 1;
  width: 100%;
  cursor: pointer;
  -webkit-animation: appearing 0.3s;
          animation: appearing 0.3s;
}
.about-page__images-container .family-card__info .invisible {
  display: none;
}
.about-page__images-container .family-card__info .text-container {
  display: none;
}
.about-page__images-container .family-card__info .text-container .text-bio {
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  cursor: default;
}
.about-page__images-container .family-card__info .text-container .bio-btn {
  padding: 0.8rem;
  border-radius: 7px;
  cursor: pointer;
}
@-webkit-keyframes appearing {
  0% {
    display: visible;
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes appearing {
  0% {
    display: visible;
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.about-page__images-container .family-card__info .visible {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-rows: 1fr -webkit-max-content;
  -ms-grid-rows: 1fr max-content;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  -webkit-animation: appearing 0.3s;
          animation: appearing 0.3s;
}
.about-page__images-container .family-card__name {
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .about-page__textbox {
    width: 90%;
    padding: 1rem 0;
  }
  .about-page__textbox .title {
    font-size: 1.5rem;
  }
  .about-page__textbox .text {
    font-size: 1.1rem;
  }
  .about-page__images-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .about-page__images-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about-page__images-container .family-card {
    border-radius: 0;
    padding: 0;
  }
}
.gallery {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: auto;
  background-color: white;
}
.gallery__title {
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
  cursor: default;
  color: #333;
}
.gallery__videos {
  display: -ms-grid;
  display: grid;
  width: 70%;
  -ms-grid-rows: 1fr 1rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}
.gallery__videos iframe {
  width: 100%;
  height: 65vh;
  margin: 1rem 0;
}
.gallery__image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 2rem;
}
.gallery__image-container .gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 35vh;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
.gallery__image-container .gallery-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.gallery__image-container .gallery-image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .gallery__title {
    font-size: 1.5rem;
  }
  .gallery__videos {
    width: 100%;
  }
  .gallery__videos iframe {
    height: 30vh;
    margin: 0;
  }
  .gallery__image-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0rem;
    margin: 2rem 0;
    grid-gap: 0;
  }
  .gallery__image-container .gallery-image {
    width: 100%;
    height: 25vh;
  }
}
.products {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
}
.products__order-container {
  width: 60%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: auto;
  text-align: center;
  padding: 2rem;
  border-top: 1px solid rgba(44, 44, 44, 0.1);
  border-bottom: 1px solid rgba(44, 44, 44, 0.1);
}
.products__order-container .title {
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  cursor: pointer;
}
.products__order-container .text {
  width: 100%;
  font-size: 1.2rem;
}
.products__order-container .form-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 40%;
  margin: auto;
  padding: 2rem;
}
.products__order-container .form-container .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products__order-container .form-container .form-inline input {
  padding: 11px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.products__order-container .form-container .form-inline button {
  margin: 0.5rem 0;
}
.products .cards-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1rem;
  margin: 3rem;
}
.products .cards-container .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr -webkit-max-content -webkit-max-content;
  -ms-grid-rows: 1fr max-content max-content;
  grid-template-rows: 1fr -webkit-max-content -webkit-max-content;
  grid-template-rows: 1fr max-content max-content;
  width: 20rem;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.products .cards-container .card img {
  width: 100%;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .cards-container .card__title {
  margin: 0;
  padding-top: 1rem;
  font-weight: 300;
}
.products .cards-container .card:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.products .cards-container__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products .cards-container__details .price {
  margin-left: 1rem;
  margin: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .products__order-container {
    width: 85%;
    padding: 0rem;
  }
  .products__order-container .title {
    font-size: 1.5rem;
  }
  .products__order-container .text {
    font-size: 1.1rem;
  }
  .products__order-container .form-container {
    width: 100%;
    padding: 0;
    margin: 2rem 0;
  }
  .products .cards-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
  }
  .products .cards-container .card {
    width: 80vw;
  }
}
.modal-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.99);
}
.modal-container .modal-image-container {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-container .modal-image-container img {
  height: 95%;
}
.modal-container .modal-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.modal-container .move-btn {
  margin: 0 1rem;
}
.modal-container .thumbnails-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 7rem;
}
.modal-container .thumbnails-container img {
  height: 100%;
  margin: 0 0.5rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-container .thumbnails-container img:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}